{% extends 'todolist/base.html' %}

{% block title %}Login{% endblock %}
{% block content %}
    <div class="mt-5 position-relative">

        <a href="{% url 'todolist:list-todolist' %}" class="back-btn text-light">
            <span class="bi-caret-left" style="font-size: 2.5rem"></span>
        </a>
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <!-- {{ form.as_p }} -->
            <input type="text" name="username" placeholder="username" class="form-control">
            <input type="password" name="password" id="" placeholder="password" class="form-control mt-3">
            <input type="submit" value="Login" class="form-control cl-btn text-light mt-3 ms-0">
        </form>
    </div>
{% endblock %}