{% extends 'todolist/base.html' %}


{% block content %}
    <section class="mt-5 position-relative">
        
        <a href="{% url 'todolist:list-todolist' %}" class="back-btn text-light">
            <span class="bi-caret-left" style="font-size: 2.5rem"></span>
        </a>
        <section class="container d-flex justify-space-around" id="">
            <a href="{% url 'todoitems:create-todoitem' %}">
                <button class="btn text-light fw-bold ci-btn">Add task</button>
            </a>
            <!-- <input type="text" name="" id="" class="form-control ms-5"> -->
        </section>

        <div class="text-light todolist-head" style="background-color: {{ todolist.icon_color }};">
            <span class="bi-compass-fill" style="font-size: 2rem; margin-inline-end: 1rem;"></span><span class="lead fw-bold">{{ todolist.name }}</span>
        </div>
        <section class="d-flex flex-column mt-5" id="todoitems">
            {% if not todolist.todoitem_set.all %}
                <p class="lead">No todo items yet</p>
            {% else %}    
            {% for todoitem in todolist.todoitem_set.all %}
                <div class="todoitem row">
                    <div class="col-1">
                        <input type="checkbox" name="checkbox" {% if todoitem.completed %} checked {% endif %} class="p-4" style="margin-inline-end: 1rem;">
                    </div>
                    <div class="col-8">
                        <h4 class="h4 d-inline fs-5" style="color: #860ce6;">{{ todoitem.task }}</h4>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'todoitems:delete-todoitem' todoitem.id %}">
                            <span class="bi-x-circle  cancel-btn" style="color: #d81240;"></span>
                        </a>
                    </div>
                    <div class="col-1">
                        <a href="{% url 'todoitems:update-todoitem' todoitem.id %}">
                            <button class="btn btn-success edit-btn">Edit</button>
                        </a>
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        </section>
    </section>
{% endblock %}