{% extends 'todolist/base.html' %}

{% block content %}
    <section class="mt-5 position-relative">
        <a href="{% url 'todolist:list-todolist' %}" class="back-btn text-light">
            <span class="bi-caret-left" style="font-size: 2.5rem;"></span>
        </a>
    </section>
    <form method="post">{% csrf_token %}
        <p class="lead"><span style="color: red">Delete</span> <strong>'{{ todolist.name }}'</strong>?</p>
        <input type="submit" value="Confirm" class="btn cl-btn text-light">
    </form>
{% endblock %}