{% extends 'todolist/base.html' %}

{% block content %}
    <section class="mt-5 position-relative">
            <a href="{% url 'todolist:detail-todolist' todoitem.todolist.id %}" class="back-btn text-light">
                <span class="bi-caret-left" style="font-size: 2.5rem;"></span>
            </a>
            <form method="post">{% csrf_token%}
                <p class="lead">Delete <strong>'{{ todoitem.task }}'</strong>?</p>
                <input type="submit" value="Confirm" class="btn cl-btn text-light">
            </form>
    </section>
{% endblock %}